@page "/FeatureFlags"
@inject HttpClient Http

<PageTitle>Feature toggles</PageTitle>

<MatPaper Elevation="4" class="feature-header">
    <MatSelect Label="Filter features" @bind-Value="filter">
        <MatOptionString Value="all">All</MatOptionString>
        <MatOptionString Value="enabled">Enabled</MatOptionString>
        <MatOptionString Value="disabled">Disabled</MatOptionString>
    </MatSelect>
</MatPaper>


<MatAccordion Multi="true" class="features">
    @foreach (var featureSetting in FilteredFeatureSettings)
    {
        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader class="@(featureSetting.Enabled?"enabled-feature":"disabled-feature")">
                    @featureSetting.FeatureId
                </MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                @featureSetting.Description
                <MatChipSet>
                    @if (!string.IsNullOrWhiteSpace(@featureSetting.Label))
                    {
                        <MatChip Label="@featureSetting.Label"></MatChip>
                    }
                    <MatChip Label="@featureSetting.LastModified?.ToString()"></MatChip>
                </MatChipSet>

                <div class="toggle">
                    <MatSlideToggle TValue="bool" ValueChanged="@(async (e)  => await OnToggleFeatureToggle(featureSetting, e))" Value="@featureSetting.Enabled"></MatSlideToggle>
                </div>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    }
</MatAccordion>



@code {
    private FeatureFlagModel[]? featureFlags;
    private string filter = "all";

    private FeatureFlagModel[]? FilteredFeatureSettings
    {
        get
        {
            switch (filter)
            {
                case "disabled":
                    return featureFlags?.Where(f => !f.Enabled).ToArray();
                case "enabled":
                    return featureFlags?.Where(f => f.Enabled).ToArray();
                default:
                    return featureFlags;
            }
        }

    }

    protected override async Task OnInitializedAsync()
    {
        await ReloadData();
    }

    protected async Task ReloadData()
    {
        featureFlags = await Http.GetFromJsonAsync<FeatureFlagModel[]>("api/FeatureFlags");
    }

    private async Task OnToggleFeatureToggle(FeatureFlagModel featureSettingModel, bool newValue)
    {
        await Http.PostAsJsonAsync($"api/FeatureFlags/{featureSettingModel.FeatureId}/IsEnabled/?label={featureSettingModel.Label}", newValue);
        await ReloadData();
    }

    public record FeatureFlagModel(string FeatureId, string Label, string Description, bool Enabled, DateTimeOffset? LastModified);
}
